{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-curly-spacing": 0,
    "react/jsx-fragments": 0,
    "react/jsx-closing-tag-location": 0,
    "comma-dangle": 0
  },
  "env": {
    "jest": true
  },
  "globals": {
    "localStorage": true,
    "fetch": true
  }
}